body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    margin-left: 100px;
}
p{
    margin-bottom: 25px;
}
h2{
    text-align: center;
}
h3{
   
}
.flexible-container{
    display: flex;
    margin-right: 10%;
}


.headline-decoration{
    font-family: 'Abril Fatface';
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    border-left: 5px solid #cf5423;
    padding-left: 5px;
    margin-bottom: 50px;
}
.headline-part{
    color: #f18d0a;

}

.top-banner{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#f18c08e3,#ff0000);
    padding: 8px 40px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-weight: 350;
    font-size: 15px;
    margin-top: 50px;
}
.mini-paragraph{
    font-size: 13px;
    margin-top: 30px;
}
.image-container{
    height: 400px;
    width: 400px;
}
.half-width{
    width: 50%;
    padding-right: 70px;
}



.slide{

}

.mini-box{
    margin: 15px;
    padding: 25px;
    width: 25%;
    height: 25%;
}
.mini-box img{
    height: 150px;
    width: 150px;   
}
#mission-area{
    background-color: #e4bcbc6c;
    border-radius: 25px;
}
#vision-area{
    background-color: #dbc17963;
    border-radius: 25px;
}
#goals-area{
    background-color: #beda2042;
    border-radius: 25px;
}
